.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  height: 80vh;
  width: 80vw;
  padding: 40px 40px;
}

.cube {
  width: 100px;
  height: 100px;
  background-color: rgb(47, 130, 255);
  position: absolute;
  font-size: 40px;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start {
  animation: mymove 4s infinite;
}

.end {
  top: calc(50vh - 50px);
  right: calc(40px);
}

@keyframes mymove {
  0% {
    top: 0;
  }

  50% {
    top: calc(80vh - 100px - 40px);
  }

  100% {
    top: 0;
  }
}
